<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<!--数据库连接字符串，默认："Data Source=ORCL;User ID=appinfo;Password=appinfo;"-->
	<add key="DBConnectStringLocal" value="Data Source=117;User ID=sz120new;Password=sz120"/>
    <add key="DBConnectStringRemote" value="Data Source=117;User ID=sz120new;Password=sz120"/>
    <!--120业务服务器IP地址-->
    <add key="GServerIP" value="192.168.10.96" />
    <!--与120业务服务器连接的本地端口-->
    <add key="GLocalPort" value="2000" />
    <!--InsertInterval分钟-->
    <add key ="InsertInterval" value="10"/>
    <add key ="VehInfoInterval" value="5"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>