<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ZIT.ThreeField.TFWCF.ThreeFieldWCF">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.10.192:8011/ThreeFieldWCF"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="ZIT.ThreeField.TFWCF.IThreeFieldWCF"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <appSettings>
    <!--与三字段服务器连接的本地端口-->
    <add key="LocalPort" value="2000" />
    <!--WCF的超时设置单位（秒）-->
    <add key="WCFTimeout" value="5"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>